


/* ------ Utility Classes ------ */

.flex{
  display: flex;
}

.flex-justify-center{
  display: flex;
  justify-content: center;
}

.flex-justify-between{
  display: flex;
  justify-content: space-between;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.flex-justify-align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100{
  width: 100%;
}

.height-100svh{
  height: 100svh;
}

.margin-top-auto{
  margin-top: auto;
}

.margin-bottom-auto{
  margin-bottom: auto;
}
.margin-left-auto{
  margin-left: auto;
}
.margin-right-auto{
  margin-right: auto;
}